<div class="row">
  <div class="col-xs-7 col-xs-offset-3 col-sm-8 col-sm-offset-2">
    <h3>{{title}}</h3>
  </div>
  <div class="col-xs-2">
    {{#if canEdit}}
    <div class='article-action pull-right dropdown'>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation">
        {{#linkTo 'article.edit' this}}
        Edit
        <span class="glyphicon glyphicon-edit pull-right"></span>
        {{/linkTo}}
        </li>
        <li role="presentation"><a role="menuitem" tabindex="-1" {{action delete}}>
          Delete
          <span class="glyphicon glyphicon-trash pull-right"></span>
        </a></li>
      </ul>
    </div>
    {{/if}}

  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-sm-2 text-center">

    <div class="article-day text-center">
      {{moment createdAt format='D'}}
    </div>

    <div class="article-weekday text-center">
      <span class="visible-xs">
        {{moment createdAt format='ddd'}}
      </span>
      <span class="hidden-xs">
        {{moment createdAt format='dddd'}}
      </span>
    </div>

    <br />

    <div class='votes'>
      {{#if isVoted}}
      <button type="button" class="btn btn-sm btn-block pull-left btn-default active">
        <span class="glyphicon glyphicon-thumbs-up"></span> {{votesCount}}
      </button>
      {{else}}
      <button {{action voteArticle this}} type="button" class="btn btn-sm btn-block pull-left btn-primary">
        <span class="glyphicon glyphicon-thumbs-up"></span> {{votesCount}}
      </button>
      {{/if}}
    </div>

  </div>
  <div class="col-xs-9 col-sm-10">
    <p> {{body}} </p>

    <hr />
    <div class="pull-right">
      Author: 
      <a {{bindAttr href="authorMailTo"}}>
        {{author.email}}
      </a>
    </div>
  </div>
</div>

