<div class="row">
  <div class="col-xs-9 col-xs-offset-3 col-sm-10 col-sm-offset-2">
    {{#linkTo 'article' this}}
    <h3>{{title}}</h3>
    {{/linkTo}}

  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-sm-2 text-center">
    <div class="article-day text-center">
      {{moment createdAt format='D'}}
    </div>
    <div class="article-weekday text-center">
      <span class="visible-xs">
        {{moment createdAt format='ddd'}}
      </span>
      <span class="hidden-xs">
        {{moment createdAt format='dddd'}}
      </span>
    </div>
    {{#with votesCount}}
    <span class='label label-primary'>
      <span class="glyphicon glyphicon-thumbs-up"></span> {{this}}
    </span>
    {{/with}}
  </div>

  <div class="col-xs-9 col-sm-10">
    <p> {{limit body to='300' }} </p>
  </div>


</div>

